@{
    ViewBag.Title = "Files administration";
}

<div class="container top-buffer">
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/elfinder/css/smoothness-1.8.23/jquery-ui-1.8.23.custom.css")" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/elfinder/css/elfinder.min.css")" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/elfinder/css/elfinder-custom.css")" />

    @section Scripts
    {
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/elfinder/elfinder.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/elfinder/i18n/elfinder.ru.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/elfinder/initialize.js")"></script>
    }

    <div id="elfinder"></div>
</div>