@using OJS.Web.Areas.Contests.Controllers;
@using OJS.Web.ViewModels;

@using Resource = Resources.Home.Views.Index;

@model OJS.Web.ViewModels.Home.Index.IndexViewModel

@{
    ViewBag.Title = Resource.Title;
}

@section Styles{
    @Styles.Render("~/Content/css/home/index")
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-7">
            <h1>@Resource.Project_title</h1>
            <p class="lead">@Resource.Project_subtitle</p>
            <a href="~/Content/PublicFiles/SoftUni-Judge-System-Guidelines.pdf" target="_blank">Правила за работа с Judge системата</a>
            @if (Model.ActiveContests.Any())
            {
                <div class="fb-page"
                     data-href="https://www.facebook.com/SoftwareUniversity"
                     data-width="400" data-small-header="true" data-adapt-container-width="true"
                     data-hide-cover="false" data-show-facepile="true" data-show-posts="false">

                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/SoftwareUniversity">
                            <a href="https://www.facebook.com/SoftwareUniversity">
                                Software University
                            </a>
                        </blockquote>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-5">
            <h2>@Resource.Contest_categories</h2>
            <div id="top-level-contest-categories" class="list-group">
                @foreach (CategoryMenuItemViewModel category in ViewBag.MainCategories)
                {
                    <a class="list-group-item" href="@($"/Contests/#!/List/ByCategory/{category.Id}/{category.NameUrl}")">@category.Name</a>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            @if (Model.ActiveContests.Any())
            {
                <h2>@Resource.Active_contests</h2>
                <div class="contests-scrollable-container">
                    <table class="table table-hover">
                        @foreach (var contest in Model.ActiveContests)
                        {
                            <tr>
                                <td>
                                    <a href="@ContestsHelper.GetUrl(contest.Id, contest.Name)"><strong>@contest.Name</strong></a><br/>
                                    <small>@ContestsHelper.GetRemainingTime(contest.EndTime)</small>
                                </td>
                                <td class="participate">
                                    @(Html.ActionLink<CompeteController>(Resource.Participate, c => c.Index(contest.Id, true, false), null, new {@class = "btn btn-sm btn-primary pull-left"}))
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            }
        </div>
        <div id="previous-contests" class="col-md-5">
            <h2>@Resource.Previous_contests</h2>
            @if (!Model.PastContests.Any())
            {
                <p>@Resource.No_previous_contests</p>
            }
            else
            {
                <div class="contests-scrollable-container">
                    <table class="table table-hover">
                        @foreach (var contest in Model.PastContests)
                        {
                            <tr>
                                <td>
                                    <a href="@ContestsHelper.GetUrl(contest.Id, contest.Name)">@contest.Name</a>
                                    <p class="text-right">@Resource.Ended: @contest.EndTime.ToString()</p>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            }
        </div>
    </div>
</div>