@model ContestResultsViewModel

@using OJS.Web.Areas.Contests.Controllers
@using OJS.Web.Areas.Contests.ViewModels.Results
@using OJS.Web.Areas.Users.Controllers

@using Resource = Resources.Areas.Contests.Views.ResultsSimple

@{
    const string ResultsContainerId = "simple-results-container";
    const string LoadingMaskContainerId = "simple-results-loading-mask-container";
    const string OnPageChangedEventHandlerName = "OnPageChanged";
    var isOfficial = Model.IsOfficialResults;
    var results = Model.Results;
}

@section Styles {
    <link href="/Content/Contests/results-page.css" rel="stylesheet" />
}

<div class="results-container" id="@ResultsContainerId">
    @if (results.PageCount > 1)
    {
        @Html.PagedListPager(
            results,
            page => Url.Action<ResultsController>(
                c => c.SimplePartial(
                    Model.Id,
                    isOfficial,
                    Model.UserIsLecturerInContest,
                    Model.ContestCanBeCompeted,
                    Model.ContestCanBePracticed,
                    page,
                    results.PageSize)),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions
            {
                HttpMethod = "GET",
                UpdateTargetId = ResultsContainerId,
                LoadingElementId = LoadingMaskContainerId,
                OnSuccess = OnPageChangedEventHandlerName
            }))
    }

    @if (results.Count > 0)
    {
        <table class="table table-responsive table-bordered table-striped text-center width100percent">
            <thead>
            <tr>
                <th>№</th>
                <th class="text-center">@Resource.User</th>
                <th class="text-center">@Resource.UserFullName</th>
                @{
                    var problemCounter = 0;
                    var displayLink = Model.ContestCanBeCompeted || Model.ContestCanBePracticed;
                    var contestLink = Model.ContestCanBeCompeted ?
                        CompeteController.CompeteActionName :
                        CompeteController.PracticeActionName;
                }

                @foreach (var problem in Model.Problems)
                {
                    if (problem.ShowResults ||
                        (Model.ContestCanBePracticed && !ViewBag.IsOfficial) ||
                        User.IsAdmin() ||
                        Model.UserIsLecturerInContest)
                    {
                        <th class="text-center">
                            @if (displayLink)
                            {
                                <a href="/Contests/@contestLink/Index/@Model.Id#@problemCounter">@problem.Name</a>
                                problemCounter++;
                            }
                            else
                            {
                                @problem.Name
                            }

                        </th>
                    }
                }

                <th class="text-center">@Resource.Total</th>
            </tr>
            </thead>
            <tbody>
            @for (var i = 0; i < results.Count; i++)
            {
                var participant = results[i];
                var className = User.Identity.Name == participant.ParticipantUsername ? "success" : string.Empty;
                <tr class="@className">
                    <td>@((results.PageNumber - 1) * results.PageSize + i + 1)</td>
                    <td>
                        <a href="@(Url.Action<ProfileController>(c => c.Index(participant.ParticipantUsername)))">@participant.ParticipantUsername</a>
                    </td>
                    <td>@participant.ParticipantFullName</td>
                    @foreach (var participantResult in participant.ProblemResults)
                    {
                        if (User.IsAdmin() || Model.UserIsLecturerInContest)
                        {
                            if (participantResult.BestSubmission == null)
                            {
                                <td>0</td>
                            }
                            else
                            {
                                <td>
                                    <a href="@(Url.Action<SubmissionsController>(c => c.Details(participantResult.BestSubmission.Id)))">@participantResult.BestSubmission.Points</a>
                                </td>
                            }
                        }
                        else if (participantResult.ShowResult)
                        {
                            if (participantResult.BestSubmission == null)
                            {
                                <td>0</td>
                            }
                            else
                            {
                                <td>@participantResult.BestSubmission.Points</td>
                            }
                        }
                    }

                    @if (User.IsAdmin() || Model.UserIsLecturerInContest)
                    {
                        <td>@participant.AdminTotal</td>
                    }
                    else
                    {
                        <td>@participant.Total</td>
                    }

                </tr>
            }

            </tbody>
        </table>
    }
    else
    {
        <h2>@Resource.NoMoreResults</h2>
    }

    @if (results.PageCount > 1)
    {
        @Html.PagedListPager(
            results,
            page => Url.Action<ResultsController>(
                c => c.SimplePartial(
                    Model.Id,
                    isOfficial,
                    Model.UserIsLecturerInContest,
                    Model.ContestCanBeCompeted,
                    Model.ContestCanBePracticed,
                    page,
                    results.PageSize)),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions
            {
                HttpMethod = "GET",
                UpdateTargetId = ResultsContainerId,
                LoadingElementId = LoadingMaskContainerId,
                OnSuccess = OnPageChangedEventHandlerName
            }))
    }

    @Html.Partial("_LoadingMaskPartial", LoadingMaskContainerId)
</div>