@using Resource = Resources.Areas.Contests.Views.Partials.StatsPartial;
@model OJS.Web.Areas.Contests.ViewModels.Contests.ContestStatsViewModel

<br />
<h4>@Resource.General_statistics</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Resource.Zero_points
            </th>
            <th>
                @Resource.Max_points
            </th>
            <th>
                @Resource.Average_result
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.MinResultsCount @Resource.Contestants - (<strong>@Model.MinResultsPercent.ToString("0.00%")</strong>)
            </td>
            <td>
                @Model.MaxResultsCount @Resource.Contestants - (<strong>@Model.MaxResultsPercent.ToString("0.00%")</strong>)
            </td>
            <td>
                <strong>@Model.AverageResult.ToString("0.000")</strong> @Resource.Points
            </td>
        </tr>
    </tbody>
</table>

<br />
<h4>@Resource.Participants_by_points</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            @foreach (var item in Model.StatsByPointsRange)
            {
                <th>
                    @item.PointsFrom - @item.PointsTo @Resource.Points
                </th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model.StatsByPointsRange)
            {
                <td>
                    @item.Participants @Resource.Contestants - (<strong>@item.PercentOfAllParticipants.ToString("0.00%")</strong>)
                </td>
            }
        </tr>
    </tbody>
</table>

<br />

@if (Model.IsGroupedByProblemGroup)
{
    <h4>@Resource.Max_result_for_problem_group</h4>
}
else
{
    <h4>@Resource.Max_result_for_task</h4>
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            @foreach (var item in Model.StatsByProblem)
            {
                <th>
                    @Html.Raw(item.Name) <br /> @item.MaxPossiblePoints @Resource.Max_points_label
                </th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model.StatsByProblem)
            {
                <td>
                    @item.MaxResultsCount @Resource.Contestants - (<strong>@item.MaxResultsPercent.ToString("0.##%")</strong>)
                </td>
            }
        </tr>
    </tbody>
</table>

<br />