@using OJS.Common.Models
@model OJS.Web.Areas.Contests.ViewModels.Results.ContestFullResultsViewModel
@{
    ViewBag.Title = string.Format("Full results: {0}",Model.Name);
    var style = string.Empty;
}

<h1>@ViewBag.Title</h1>
<script src="/Scripts/Helpers/test-results.js"></script>
<table class="table table-striped">
    <tr>
        <th>User</th>
        @foreach (var problem in Model.Problems)
        {
            <th>@problem.Name</th>
        }
        <th>Total</th>
    </tr>
    @foreach (var participant in Model.Results)
    {
        <tr>
            <th>@participant.ParticipantName</th>
            @foreach (var problemResult in participant.ProblemResults)
            {
                <td style="white-space: nowrap">
                    @if (problemResult.BestSubmission == null)
                    {
                        <span>No solution</span>
                    }
                    else
                    {
                        <strong>@problemResult.BestSubmission.Points / @problemResult.MaximumPoints</strong> @problemResult.BestSubmission.SubmissionType
                        <br />
                        foreach (var testRun in problemResult.BestSubmission.TestRuns)
                        {
                            if (testRun.IsZeroTest)
                            {
                                style = "-ms-opacity: 0.3; opacity: 0.3";
                            }
                            else
                            {
                                style = string.Empty;
                            }

                            switch (testRun.ResultType)
                            {
                                case TestRunResultType.CorrectAnswer:<span style="@style" class="glyphicon glyphicon-ok text-success" title="Correct answer"></span>break;
                                case TestRunResultType.WrongAnswer:<span style="@style" class="glyphicon glyphicon-remove text-danger" title="Wrong answer"></span>break;
                                case TestRunResultType.TimeLimit:<span style="@style" class="glyphicon glyphicon-time text-danger" title="Time limit"></span>break;
                                case TestRunResultType.MemoryLimit:<span style="@style" class="glyphicon glyphicon-hdd text-danger" title="Memory limit"></span>break;
                                case TestRunResultType.RunTimeError:<span style="@style" class="glyphicon glyphicon-asterisk text-danger" title="Run-time error"></span>break;
                            }
                        }
                    }
                </td>
            }
            <td>@participant.Total</td>
        </tr>
    }
</table>