@model OJS.Web.Areas.Contests.ViewModels.Results.ContestFullResultsViewModel

@using OJS.Common.Models
@using Resource = Resources.Areas.Contests.Views.ResultsFull

@{
    ViewBag.Title = string.Format(Resource.Title, Model.Name);
    var style = string.Empty;
}

<ol class="breadcrumb">
    <li><a href="/">@Resource.Home</a></li>
    <li><a href="@ContestsHelper.GetUrl(Model.Id, Model.Name)">@Model.Name</a></li>
    <li class="active">@Resource.Full_results</li>
</ol>

<h1>@ViewBag.Title</h1>
<script src="/Scripts/Helpers/test-results.js"></script>
<div>@Html.ActionLink(Resource.Public_results, "Simple", new { id = Model.Id, official = ViewBag.IsOfficial })</div>
<table class="table table-striped">
    <tr>
        <th>@Resource.User</th>
        @foreach (var problem in Model.Problems)
        {
            <th>@problem.Name</th>
        }
        <th>@Resource.Total</th>
    </tr>
    @foreach (var participant in Model.Results)
    {
        <tr>
            <th>@participant.ParticipantName</th>
            @foreach (var problemResult in participant.ProblemResults)
            {
                <td style="white-space: nowrap">
                    @if (problemResult.BestSubmission == null)
                    {
                        <span>@Resource.No_solution</span>
                    }
                    else
                    {
                        <strong>@problemResult.BestSubmission.Points / @problemResult.MaximumPoints</strong> @problemResult.BestSubmission.SubmissionType
                        <br />
                        foreach (var testRun in problemResult.BestSubmission.TestRuns)
                        {
                            if (testRun.IsZeroTest)
                            {
                                style = "-ms-opacity: 0.3; opacity: 0.3";
                            }
                            else
                            {
                                style = string.Empty;
                            }

                            switch (testRun.ResultType)
                            {
                                case TestRunResultType.CorrectAnswer:<span style="@style" class="glyphicon glyphicon-ok text-success" title=@Resource.Answer_correct></span>break;
                                case TestRunResultType.WrongAnswer:<span style="@style" class="glyphicon glyphicon-remove text-danger" title=@Resource.Answer_incorrect></span>break;
                                case TestRunResultType.TimeLimit:<span style="@style" class="glyphicon glyphicon-time text-danger" title=@Resource.Time_limit></span>break;
                                case TestRunResultType.MemoryLimit:<span style="@style" class="glyphicon glyphicon-hdd text-danger" title=@Resource.Memory_limit></span>break;
                                case TestRunResultType.RunTimeError:<span style="@style" class="glyphicon glyphicon-asterisk text-danger" title=@Resource.Runtime_error></span>break;
                            }
                        }
                    }
                </td>
            }
            <td>@participant.Total</td>
        </tr>
    }
</table>