@model OJS.Web.Areas.Contests.ViewModels.Results.ContestResultsViewModel

@{
    ViewBag.Title = Model.Name;
}

@section Styles {
    <link href="/Content/Contests/results-page.css" rel="stylesheet" />
}

<h1>Резултати за @ViewBag.Title</h1>

@if (User.IsAdmin())
{
    <div>@Html.ActionLink("Подробни резултати", "Full", new { id = Model.Id, official = ViewBag.IsOfficial })</div>
}

<table class="table table-responsive table-bordered table-striped text-white text-center width100percent">
    <thead>
        <tr>
            <th>Потребител</th>
            @foreach (var problem in Model.Problems)
            {
                if (problem.ShowResults)
                {
                    <th>@problem.Name</th>
                }
            }
            <th>Общо</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var participant in Model.Results)
        {
            string className = this.User.Identity.Name == participant.ParticipantName ? "success" : string.Empty;
            <tr class="@className">
                <td>@participant.ParticipantName</td>

                @foreach (var participantResult in participant.ProblemResults)
                {
                    if (participantResult.ShowResult)
                    {
                        <td>@participantResult.Result</td>
                    }
                }
                <td>@participant.Total</td>
            </tr>
        }
    </tbody>
</table>