@model OJS.Web.Areas.Contests.ViewModels.Results.ContestResultsViewModel

@using OJS.Common.Models
@using OJS.Web.Areas.Contests.Controllers
@using OJS.Web.ViewModels.Shared
@using Resource = Resources.Areas.Contests.Views.ResultsSimple

@{
    ViewBag.Title = string.Format(Resource.Title, Model.Name, ViewBag.IsOfficial ? string.Empty : " (Practice)");
    ViewBag.Subtitle = ViewBag.IsOfficial ? string.Empty : Resource.CachedResults;
    string isOfficial = ViewBag.IsOfficial ? CompeteController.CompeteActionName : CompeteController.PracticeActionName;
    var resultsOnPage = ViewBag.IsOfficial
        ? ResultsController.OfficialResultsPageSize
        : ResultsController.NotOfficialResultsPageSize;

    var results = Model.Results.ToList();
}

@section Styles {
    <link href="/Content/Contests/results-page.css" rel="stylesheet" />
    <style>
        tr.success a, tr.success a:hover {
            color: #fff;
        }
    </style>
}

<ol class="breadcrumb">
    <li><a href="/">@Resource.Home</a></li>
    <li><a href="@ContestsHelper.GetUrl(Model.Id, Model.Name)">@Model.Name</a></li>
    <li class="active">@Resource.Simple_results</li>
</ol>

<h1 class="text-center">@ViewBag.Title</h1>
<h3 class="text-center">
    @ViewBag.Subtitle
    <br />
    <br />
    @if (User.IsAdmin())
    {
        <span>@Html.ActionLink(Resource.Detailed_results, "Full", new { id = Model.Id, official = ViewBag.IsOfficial }, new { @class = "btn btn-primary" })</span>
        <span>@Html.ActionLink(Resource.Export_results, "Results", "ContestsExport", new { area = "Administration", id = Model.Id, compete = ViewBag.IsOfficial }, new { @class = "btn btn-primary" })</span>
    }
</h3>

@if ((Model.CurrentPage == 1 && results.Count == resultsOnPage) || Model.CurrentPage > 1)
{
    @Html.Partial("_SimplePagination", new SimplePaginationViewModel { HasNext = results.Count == resultsOnPage, CurrentPage = Model.CurrentPage, Url = "/Contests/" + isOfficial + "/Results/Simple/" + Model.Id + "?page=" })
}

@if (Model.Results.Any())
{
    <table class="table table-responsive table-bordered table-striped text-white text-center width100percent">
        <thead>
            <tr>
                <th>№</th>
                <th class="text-center">@Resource.User</th>
                <th class="text-center">@Resource.UserFullName</th>
                @{
                    int problemCounter = 0;
                    bool displayLink = Model.ContestCanBeCompeted || Model.ContestCanBePracticed;
                    var contestLink = Model.ContestCanBeCompeted ? CompeteController.CompeteActionName : CompeteController.PracticeActionName;
                }
                @foreach (var problem in Model.Problems)
                {
                    if (problem.ShowResults || (Model.ContestCanBePracticed && !ViewBag.IsOfficial) || User.IsAdmin() || Model.UserIsLecturerInContest)
                    {
                        <th class="text-center">
                            @if (displayLink)
                        {
                                <a href="/Contests/@contestLink/Index/@Model.Id#@problemCounter">@problem.Name</a>
                                problemCounter++;
                            }
                            else
                            {
                                @problem.Name
                            }
                        </th>
                    }
                }
                <th class="text-center">@Resource.Total</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < results.Count; i++)
            {
                var participant = results[i];
                string className = User.Identity.Name == participant.ParticipantUsername ? "success" : string.Empty;
                <tr class="@className">
                    <td>@((Model.CurrentPage - 1) * resultsOnPage + i + 1)</td>
                    <td><a href="/Users/Profile?id=@participant.ParticipantUsername">@participant.ParticipantUsername</a></td>
                    <td>@participant.ParticipantFullName</td>
                    @foreach (var participantResult in participant.ProblemResults)
                    {
                        if (User.IsAdmin() || Model.UserIsLecturerInContest)
                        {
                            if (participantResult.BestSubmission == null)
                            {
                                if (!participantResult.IsPartOfUserProblems &&
                                    Model.IsCompete &&
                                    Model.ContestType == ContestType.OnlinePractialExam)
                                {
                                    <td>-</td>                                
                                }
                                else
                                {
                                    <td>0</td>
                                }
                            }
                            else
                            {
                                <td><a href="/Contests/Submissions/View/@participantResult.BestSubmission.Id">@participantResult.BestSubmission.Points</a></td>
                            }
                        }
                        else if (participantResult.ShowResult)
                        {
                            if (participantResult.BestSubmission == null)
                            {
                                <td>0</td>
                            }
                            else
                            {
                                <td>@participantResult.BestSubmission.Points</td>
                            }
                        }
                    }
                    @if (User.IsAdmin() || Model.UserIsLecturerInContest)
                    {
                        <td>@participant.AdminTotal</td>
                    }
                    else
                    {
                        <td>@participant.Total</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>@Resource.NoMoreResults</h2>
}

@if ((Model.CurrentPage == 1 && results.Count == resultsOnPage) || Model.CurrentPage > 1)
{
    @Html.Partial("_SimplePagination", new SimplePaginationViewModel { HasNext = results.Count == resultsOnPage, CurrentPage = Model.CurrentPage, Url = "/Contests/" + isOfficial + "/Results/Simple/" + Model.Id + "?page=" })
}