@model OJS.Web.Areas.Contests.ViewModels.Results.ContestResultsViewModel

@using Resource = Resources.Areas.Contests.Views.ResultsSimple

@{
    ViewBag.Title = string.Format(Resource.Title, Model.Name);
}

@section Styles {
    <link href="/Content/Contests/results-page.css" rel="stylesheet" />
}

<ol class="breadcrumb">
    <li><a href="/">@Resource.Home</a></li>
    <li><a href="@ContestsHelper.GetUrl(Model.Id, Model.Name)">@Model.Name</a></li>
    <li class="active">@Resource.Simple_results</li>
</ol>

<h1>@ViewBag.Title</h1>

@if (User.IsAdmin())
{
    <div>@Html.ActionLink(Resource.Detailed_results, "Full", new { id = Model.Id, official = ViewBag.IsOfficial })</div>
}

<table class="table table-responsive table-bordered table-striped text-white text-center width100percent">
    <thead>
        <tr>
            <th>@Resource.User</th>
            @foreach (var problem in Model.Problems)
            {
                if (problem.ShowResults)
                {
                    <th>@problem.Name</th>
                }
            }
            <th>@Resource.Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var participant in Model.Results)
        {
            string className = this.User.Identity.Name == participant.ParticipantName ? "success" : string.Empty;
            <tr class="@className">
                <td>@participant.ParticipantName</td>

                @foreach (var participantResult in participant.ProblemResults)
                {
                    if (participantResult.ShowResult)
                    {
                        <td>@participantResult.Result</td>
                    }
                }
                <td>@participant.Total</td>
            </tr>
        }
    </tbody>
</table>