@model ICollection<Microsoft.AspNet.Identity.UserLoginInfo>
@using Resource = Resources.Account.Views.Partial.RemoveAccount

@if (Model.Count > 0)
{
    <h4>@Resource.Registered_login_methods</h4>
    <table class="table">
        <tbody>
            @foreach (var account in Model)
            {
                <tr>
                    <td>@account.LoginProvider</td>
                    <td>
                        @if (ViewBag.ShowRemoveButton)
                        {
                            using (Html.BeginForm("Disassociate", "Account"))
                            {
                                @Html.AntiForgeryToken()
                                <div>
                                    @Html.Hidden("loginProvider", account.LoginProvider)
                                    @Html.Hidden("providerKey", account.ProviderKey)
                                    <input type="submit" class="btn btn-default" value="@Resource.Remove_login_button" title="@string.Format(Resource.Remove_login_title, account.LoginProvider)" />
                                </div>
                            }
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
