@model OJS.Web.ViewModels.Account.ManageUserViewModel
@using Resource = Resources.Account.Views.Partial.SetPassword

<p class="text-info">
    @Resource.No_username_or_password
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="@Resource.Save_password" class="btn btn-default" />
            </div>
        </div>
    </div>
}
