@model OJS.Web.ViewModels.Account.ForgottenPasswordViewModel

@using Resource = Resources.Account.Views.ChangePasswordView

@{
    ViewBag.Title = Resource.Title;
}

<h2>@Resource.Title</h2>

<p class="text-danger">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("ChangePassword", "Account"))
{
    @Html.HiddenFor(x => x.Token)
    <div class="row">
        <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
                @Html.LabelFor(m => m.PasswordConfirmation, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.PasswordConfirmation, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PasswordConfirmation)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input type="submit" value="@Resource.Submit" class="pull-right btn btn-default" />
        </div>
    </div>
}