@model OJS.Web.ViewModels.Account.ForgottenPasswordViewModel

@using Resource = Resources.Account.Views.ChangePasswordView

@{
    ViewBag.Title = Resource.Title;
}

<h2>@Resource.Title</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("ChangePassword", "Account"))
{
    @Html.HiddenFor(x => x.Token)
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                <div class="col-md-4">
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.PasswordConfirmation, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.PasswordConfirmation, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(x => x.PasswordConfirmation)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input type="submit" value="@Resource.Submit" class="pull-right btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}