@using Resource = Resources.Account.Views.ForgottenPassword

@{
    ViewBag.Title = Resource.Title;
}

<h2>@ViewBag.Title</h2>

@if (this.TempData["NotifyMessage"] != null)
{
    <div class="row">
        <div class="alert alert-success col-md-12">
            @this.TempData["NotifyMessage"]
        </div>
    </div>
}

<div>@Resource.EnterYourEmail</div>
<p class="text-danger">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("ForgottenPassword", "Account", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="form-group">
            @Html.Label("emailOrUsername", Resource.Label, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBox("emailOrUsername", null, new { @class = "form-control" })
                @Html.ValidationMessage("emailOrUsername")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input class="pull-right btn btn-default" type="submit" value="@Resource.Submit" />
        </div>
    </div>
}