@using Resource = Resources.Account.Views.ForgottenPassword

@{
    ViewBag.Title = Resource.Title;
}

<ol class="breadcrumb">
    <li><a href="/">Начало</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ForgottenPassword", "Account", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="form-group">
            @Html.Label("emailOrUsername", Resource.Label, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBox("emailOrUsername", null, new { @class = "form-control" })
                @Html.ValidationMessage("emailOrUsername")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input class="pull-right btn btn-default" type="submit" value="@Resource.Submit" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}