@using Resource = Resources.Account.Views.ForgottenPassword

@{
    ViewBag.Title = Resource.Title;
}

<h2>@ViewBag.Title</h2>

<div>@Resource.EnterYourEmail</div>
<p class="text-danger">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("ForgottenPassword", "Account", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="form-group">
            @Html.Label("Email", new { @class = "control-label col-md-1" })
            <div class="col-md-4">
                @Html.TextBox("Email", null, new { type = "email", @class = "form-control" })
                @Html.ValidationMessage("Email")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <input class="pull-right btn btn-default" type="submit" value="@Resource.Submit" />
        </div>
    </div>
}