@using OJS.Web.Areas.Users.ViewModels

@model UserProfileViewModel

<div class="container">
    <h2>
        Профил на @Model.Username
        @if (!string.IsNullOrEmpty(Model.FirstName) || !string.IsNullOrEmpty(Model.LastName))
        {
            <text>(@Model.FirstName @Model.LastName)</text>
        }
    </h2>

    <div class="col-md-6">
        @if (Model.Age != null)
        {
            <div class="text-white">
                <span class="text-primary">Години: </span>
                @Model.Age
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.City))
        {
            <div class="text-white">
                <span class="text-primary">Град: </span>
                @Model.City
            </div>
        }
    </div>
    @if (this.User.Identity.Name == Model.Username)
    {
        <div class="col-md-offset-4 col-md-2">
            <a href="Settings/" class="btn btn-primary pull-right">Настройки</a>
        </div>
    }
</div>
<br />
<div class="col-md-12">
    <h2>Участия</h2>
    <table class="table table-responsive table-striped">
        <thead class="text-white">
            <tr>
                <th>
                    Състезание
                </th>
                <th>
                    Тип участие
                </th>
                @if (this.User.Identity.Name == Model.Username)
                {
                    <th>Резултат</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (UserParticipationViewModel result in Model.Participations)
            {
                <tr>
                    <td>
                        <a href="@ContestsHelper.GetUrl(result.ContestId, result.ContestName)">
                            @result.ContestName
                        </a>
                    </td>
                    <td>@(result.IsOfficial ? "Състезание" : "Практика")</td>
                    @if (this.User.Identity.Name == Model.Username)
                    {
                        <td>@result.ContestResult</td>
                    }
                </tr>
            }

        </tbody>
    </table>
</div>