@using OJS.Web.Areas.Administration.Controllers

@using Resource = Resources.Areas.Administration.Tests.Views.TestsCreate

@model OJS.Web.Areas.Administration.ViewModels.Test.TestViewModel

@{
    ViewBag.Title = Resource.Page_title;
}

<h2>@ViewBag.Title</h2>
<h3>@Model.ProblemName</h3>
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.ProblemId)
        @Html.HiddenFor(m => m.ProblemName)

        <div class="editor-label">
            @Html.LabelFor(m => m.InputFull)
        </div>
        <div class="editor-field row">
            @Html.TextAreaFor(m => m.InputFull, new { rows = 10, @class = "col-md-12 form-control monospace-font" })
            @Html.ValidationMessageFor(m => m.InputFull)
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(m => m.OutputFull)
        </div>
        <div class="editor-field row">
            @Html.TextAreaFor(m => m.OutputFull, new { rows = 10, @class = "col-md-12 form-control monospace-font" })
            @Html.ValidationMessageFor(m => m.OutputFull)
        </div>
        <br />
        <div class="row">
            <div class="editor-label">
                @Html.LabelFor(m => m.Type)
            </div>
            <div class="editor-field">
                @Html.Kendo().DropDownListFor(m => m.Type).BindTo(Model.AllTypes).HtmlAttributes(new {style = "width: 22em;"})
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.OrderBy)
            </div>
            <div class="editor-label">
                @Html.EditorFor(m => m.OrderBy)
                @Html.ValidationMessageFor(m => m.OrderBy)
            </div>
            <div class="top-buffer-lg">
                @Html.CheckBoxFor(m => m.RetestProblem)
                @Html.LabelFor(m => m.RetestProblem)
            </div>
            <div class="top-buffer-lg">
                @Html.CheckBoxFor(m => m.HideInput)
                @Html.LabelFor(m => m.HideInput)
            </div>
            <br />
            <button type="submit" class="btn btn-primary">@Resource.Create</button>
            <a href="@(Url.Action<TestsController>(c => c.Problem(Model.ProblemId)))" class="btn btn-primary">@Resource.Back</a>
        </div>
    }
</div>
