@using Resource = Resources.Areas.Administration.Tests.Views.TestsDeleteAll;
@model OJS.Web.Areas.Administration.ViewModels.Problem.ProblemViewModel

@{
    ViewBag.Title = Resource.Page_title;
}

<h2>@Model.Name</h2>
<h3>@ViewBag.Title</h3>

<p>
    @Resource.Delete_confirmation @Model.Name?
</p>
<a href="/Administration/Tests/ConfirmDeleteAll/@Model.Id" class="btn btn-primary">@Resource.Confirm</a>
<a href="/Administration/Tests/Problem/@Model.Id" class="btn btn-primary">@Resource.Back</a>
