@using Resource = Resources.Areas.Administration.Tests.Views.TestsIndex;
@{
    ViewBag.Title = Resource.Page_title;
}

<h2>@ViewBag.Title</h2>
<div class="container">
    <div class="col-md-6">
        <div>
            <label for="search">@Resource.Search_by_problem </label>
        </div>
        <div>
            @(@Html.Kendo().AutoComplete()
                .Name("search")
                .Placeholder(Resource.Enter_problem)
                .HtmlAttributes(new { @class = "test-file-dropdown" })
                .DataTextField("Name")
                .MinLength(3)
                .DataSource(source =>
                {
                    source
                        .Read(read =>
                        {
                            read.Action("GetProblemsContaining", "KendoRemoteData")
                                .Data("onAdditionalData");
                        })
                        .ServerFiltering(true);
                }
                )
                .Events(e => 
                {
                    e.Select("onSearchSelect").Open("Ojs.KendoControls.DropDownList.alignDropDownToInput");
                }))
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-6">

        <div>
            <div>
                <label for="categories">@Resource.Category_label </label>
            </div>
            <div>
                @(Html.Kendo().DropDownList()
                    .Name("categories")
                    .OptionLabel(Resource.Choose_category)
                    .HtmlAttributes(new { @class = "test-file-dropdown" })
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .Events(e => e.Open("Ojs.KendoControls.DropDownList.alignDropDownToInput"))
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetAvailableCategories", "LecturersKendoRemoteData");
                        });
                    }))
            </div>
        </div>
        <div>
            <label for="contests">@Resource.Contest_label </label>
        </div>
        <div>
            @(Html.Kendo().DropDownList()
                .Name("contests")
                .OptionLabel(Resource.Choose_contest)
                .HtmlAttributes(new { @class = "test-file-dropdown" })
                .DataTextField("Name")
                .DataValueField("Id")
                .Events(e => e.Open("Ojs.KendoControls.DropDownList.alignDropDownToInput"))
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetCascadeContestsFromCategory", "LecturersKendoRemoteData")
                            .Data("filterContests");
                    })
                    .ServerFiltering(true);
                })
                .Enable(false)
                .AutoBind(false)
                .CascadeFrom("categories")
            )
        </div>
        <div>
            <label for="problems">@Resource.Problem_label </label>
        </div>
        <div>
            @(Html.Kendo().DropDownList()
                .Name("problems")
                .OptionLabel(Resource.Choose_problem)
                .HtmlAttributes(new { @class = "test-file-dropdown" })
                .DataTextField("Name")
                .DataValueField("Id")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetCascadeProblemsFromContest", "KendoRemoteData")
                            .Data("filterProblems");
                    })
                    .ServerFiltering(true);
                })
                .Enable(false)
                .AutoBind(false)
                .CascadeFrom("contests")
                .Events(e => e.Change("onProblemSelect").Open("Ojs.KendoControls.DropDownList.alignDropDownToInput"))
            )
        </div>
    </div>
    <div id="controls">
        @using (Html.BeginForm("Import", "Tests", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            
            <div class="col-md-6 pull-right">
                <div class="col-md-7 pull-right">
                    @if (ViewBag.ProblemId != null)
                    {
                        <input id="problemId" name="problemId" type="text" value="@ViewBag.ProblemId" />
                    }
                    else
                    {
                        <input id="problemId" name="problemId" type="text" />
                    }
                    <div>
                        @Html.CheckBox("retestTask", false)
                        @Html.Label(Resource.Retest_problem, new { @for = "retestTask", style = "display: inline-block; " })
                    </div>
                    <div>
                        @Html.CheckBox("deleteOldFiles", true)
                        @Html.Label(Resource.Delete_old_tests, new { @for = "deleteOldFiles", style = "display: inline-block; " })
                    </div>
                    <p>
                        @Html.Kendo().Upload().Name("file").Multiple(false).HtmlAttributes(new { @class = "kendo-upload" })
                        <input class="k-button" type="submit" value="@Resource.Import" />
                    </p>
                </div>
            </div>
        }
    </div>
</div>
<br />
<div class="jumbotron text-center text-white" id="status">@Resource.Tests_loading</div>
<div id="grid"></div>

@section scripts{
    <script src="~/Scripts/Administration/Tests/tests-index.js"></script>
}