@using Resource = Resources.Areas.Administration.Submissions.Views.SubmissionsIndex;
@{
    ViewBag.Title = Resource.Page_title;
}

<h1>@ViewBag.Title</h1>

@section Styles{
    @Styles.Render("~/Content/css/administration/administration-styles.css")
}

<div class="administration-container">
    <div class="row">
        <div class="col-md-10">
            @(Html.Kendo()
                .ComboBox()
                .Name("contests")
                .DataTextField("Name")
                .DataValueField("Id")
                .Filter(FilterType.Contains)
                .AutoBind(false)
                .MinLength(3)
                .Placeholder(Resource.Choose_or_enter_contest)
                .Events(ev => ev.Change("selectContest"))
                .DataSource(dataSource =>
                {
                    dataSource
                        .Read(read =>
                        {
                            read
                                .Action("GetAvailableContestsContaining", "LecturersKendoRemoteData")
                                .Data("additionalComboBoxData");
                        })
                        .ServerFiltering(true);
                })
                .HtmlAttributes(new { style = "width: 100%;" }))
        </div>
        <div class="col-md-2 text-right">
            @Ajax.ActionLink(
                Resource.Clear, 
                "RenderGrid", 
                null, 
                new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "submissions-grid" }, 
                new { @class = "btn btn-primary btn-sm" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12" id="submissions-grid">
            @Html.Partial("_SubmissionsGrid")
        </div>
    </div>
</div>

@section scripts{
    <script>
        function additionalComboBoxData() {
            return {
                contestFilter: $("#contests").data("kendoComboBox").input.val()
            }
        }

        function selectContest() {
            var contestId = this.value();
            if (contestId) {
                $('#DataGrid').data('kendoGrid').dataSource.filter({ field: 'ContestId', operator: 'eq', value: parseInt(contestId) });
            } else {
                $('#DataGrid').data('kendoGrid').dataSource.filter({});
            }
        }
    </script>
}