@using OJS.Web.Areas.Administration.ViewModels.ProblemResource
@using Resource = Resources.Areas.Administration.Resources.Views.ResourcesEdit;
@model OJS.Web.Areas.Administration.ViewModels.ProblemResource.ProblemResourceViewModel

@{
    ViewBag.Title = Resource.Page_title;
}

<h2>@ViewBag.Title @Resource.For @Model.Name</h2>
<div id="create-form" class="container">
    @using (Html.BeginForm("Edit", "Resources", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ProblemId)
        @Html.HiddenFor(m => m.ProblemName)

        <div class="row">
            <div class="editor-label col-xs-2">
                <div class="pull-right">
                    @Html.LabelFor(m => m.Name)
                </div>
            </div>
            <div class="editor-field col-xs-4">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control pull-left full-editor" })
            </div>
            <div class="editor-field col-xs-4">
                <span class="glyphicon glyphicon-question-sign text-primary" title="@Resource.Enter_name" data-tooltip="true"></span>
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="editor-label col-xs-2">
                <div class="pull-right">
                    @Html.LabelFor(m => m.Type)
                </div>
            </div>
            <div class="editor-field col-xs-4">
                @(Html.Kendo()
                    .DropDownListFor(m => m.Type)
                    .BindTo(Model.AllTypes)
                    .SelectedIndex(Model.DropDownTypeIndex)
                    .Events(ev => ev.Change("onEditResourceTypeSelect").Open("Ojs.KendoControls.DropDownList.alignDropDownToInput"))
                    .HtmlAttributes(new { @class = "pull-left full-kendo-editor" }))
            </div>
            <div class="editor-field col-xs-4">
                <span class="glyphicon glyphicon-question-sign text-primary" title="@Resource.Choose_type" data-tooltip="true"></span>
                @Html.ValidationMessageFor(m => m.Type)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="editor-label col-xs-2">
                <div class="pull-right">
                    @Html.LabelFor(m => m.OrderBy)
                </div>
            </div>
            <div class="editor-field col-xs-4">
                @(Html.Kendo()
                    .NumericTextBoxFor(m => m.OrderBy)
                    .Format("#")
                    .Min(0)
                    .Step(1)
                    .Spinners(false)
                    .HtmlAttributes(new { @class = "pull-left full-editor" }))
            </div>
            <div class="editor-field col-xs-4">
                <span class="glyphicon glyphicon-question-sign text-primary" title="@Resource.Enter_order" data-tooltip="true"></span>
                @Html.ValidationMessageFor(m => m.OrderBy)
            </div>
        </div>
        <br />
        <div class="row" id="link-input">
            <div class="editor-label col-xs-2">
                <div class="pull-right">
                    @Html.LabelFor(m => m.Link)
                </div>
            </div>
            <div class="editor-field col-xs-4">
                @Html.TextBox(nameof(ProblemResourceViewModel.RawLink), Model.Link, new { @class = "form-control pull-left full-editor"})
            </div>
            <div class="editor-field col-xs-4">
                <span class="glyphicon glyphicon-question-sign text-primary" title="Въведете линк" data-tooltip="true"></span>
                @Html.ValidationMessage(nameof(ProblemResourceViewModel.RawLink))
            </div>
        </div>
        <div class="row" id="file-select">
            <div class="editor-label col-xs-2">
                <strong class="pull-right">@Resource.File</strong>
            </div>
            <div class="editor-field col-xs-4">
                <div id="file-button-resource" class="btn btn-sm btn-primary full-editor">@Resource.Choose_file</div>
                <div class="hidden-file-upload">
                    <input type="file" name="File" id="input-file-resource" />
                </div>
            </div>
            <div class="editor-field col-xs-4">
                <span class="glyphicon glyphicon-question-sign text-primary" title="@Resource.Choose_file_for_resource" data-tooltip="true"></span>
                @Html.ValidationMessage("File")
            </div>
        </div>
        <br />
        <div class="row">
            <div class="editor-label col-xs-6">
                <div class="pull-right">
                    <button type="submit" class="btn btn-sm btn-primary">@Resource.Edit</button>
                    <a href="/Administration/Problems/Resource/@Model.ProblemId" class="btn btn-sm btn-primary">@Resource.Back</a>
                </div>
            </div>
        </div>
    }
</div>

@(Html.Kendo().Tooltip().For("#create-form").Filter("[data-tooltip='true']").Position(TooltipPosition.Bottom).Width(240))

@section scripts {
    <script src="~/Scripts/Administration/Resources/resources-edit.js"></script>
}