@using Resource = Resources.Submissions.Views.AdvancedSubmissions

@{
    ViewBag.Title = Resource.Page_title;
}

<script src="/Scripts/Helpers/test-results.js"></script>

<ol class="breadcrumb">
    <li><a href="/">Начало</a></li>
    <li class="active">Решения</li>
</ol>

<h1>@ViewBag.Title</h1>

@if (User.IsAdmin())
{
    <div class="row">
        <div class="col-md-10">
            <h4>
                Решения в опашката: @ViewBag.SubmissionsInQueue
                (@Ajax.ActionLink(
                     "Покажи решенията в опашката",
                     "GetSubmissionsGrid",
                     new { notProcessedOnly = true },
                     new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "submissions-container" }) /
                @Ajax.ActionLink(
                    "Покажи всички решения",
                    "GetSubmissionsGrid",
                    new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "submissions-container" }))
            </h4>
        </div>
        <div class="col-md-2 bottom-buffer">
            @using (Html.BeginForm("StartOjsLocalWorkerService", "Submissions", FormMethod.Post, new { @class = "pull-right" }))
            {
                @Html.AntiForgeryToken()

                <input type="submit" class="btn btn-primary" value="Рестартирай сървиса" />
            }
        </div>
    </div>
}

<div id="submissions-container">
    @Html.Action("GetSubmissionsGrid")
</div>
