@using Resource = Resources.Areas.Administration.AntiCheat.Views.AntiCheatViews;
@model IEnumerable<OJS.Web.Areas.Administration.ViewModels.AntiCheat.AntiCheatByIpAdministrationViewModel>

<table class="table table-striped">
    <tr>
        <th>
            @Resource.Participant_id
        </th>
        <th>
            @Resource.Username
        </th>
        <th>
            @Resource.Points
        </th>
        <th>
            @Resource.Ip_addresses
        </th>
    </tr>
    @foreach (var participant in Model)
    {
        <tr id="participant-@participant.Id">
            <td>
                <span class="text-white">@participant.Id</span>
            </td>
            <td>
                <a href="/Users/@participant.UserName" target="_blank"><span class="text-primary">@participant.UserName</span></a>
            </td>
            <td>
                <span class="text-white">@participant.Points</span>
            </td>
            <td>
                <span class="text-white">@Html.Raw(string.Join("  |  ", participant.DifferentIps.Take(10).Select(ip => string.Format("<a href=\"http://tools.nikolay.in/whois/{0}\" target=\"_blank\">{0}</a>", ip))))</span>
            </td>
        </tr>
    }
</table>
