@using Resource = Resources.Areas.Administration.AntiCheat.Views.AntiCheatViews

@model IEnumerable<IGrouping<string, OJS.Web.Areas.Administration.ViewModels.AntiCheat.SubmissionSimilarityViewModel>>

@if (Model.Any())
{
    var sortedResults = Model.OrderBy(m => m.Key);
    foreach (var groupedReport in sortedResults)
    {
        var reports = groupedReport.OrderBy(p => p.Percentage);
        <h3 class="text-white">@groupedReport.Key</h3>
        <table class="table table-striped">
            <tr>
                <th>@Resource.First_participant</th>
                <th>@Resource.Second_participant</th>
                <th>@Resource.Points</th>
                <th>@Resource.Differences</th>
                <th>@Resource.Percentage</th>
            </tr>
            
            @foreach (var report in reports)
            {
                <tr>
                    <td>
                        <a href="/Contests/Submissions/View/@report.FirstSubmissionId" target="_blank">
                            @report.FirstParticipantName - @report.FirstSubmissionCreatedOn
                        </a>
                    </td>
                    <td>
                        <a href="/Contests/Submissions/View/@report.SecondSubmissionId" target="_blank">
                            @report.SecondParticipantName - @report.SecondSubmissionCreatedOn
                        </a>
                    </td>
                    <td>
                        @report.Points
                    </td>
                    <td>
                        @report.Differences
                    </td>
                    <td>
                        @report.Percentage.ToString("F")
                    </td>
                </tr>
            }
        </table>
        <br />
    }
}
else
{
    <div class="text-center text-uppercase">Няма прилики</div>
}