@model OJS.Web.Areas.Administration.ViewModels.Contest.ChangeParticipationEndTimeViewModel

@using Resource = Resources.Areas.Administration.Contests.Views.ChangeTime
@using SharedResource = Resources.Areas.Contests.ContestsGeneral

@{
    ViewBag.Title = Resource.Page_title;
}

@section Styles {
    <link href="/Content/Contests/change-time.css" rel="stylesheet" />
}

<div id="change-time-container">
    <h1>@ViewBag.Title</h1>
    <h2>@Resource.Contest :
        <a href="@ContestsHelper.GetUrl(Model.ContesId, Model.ContestName)">
            <strong class="text-success">@Model.ContestName</strong>
        </a>
    </h2>
    <h3>@Resource.Change_time_legend</h3>
    
    <ul class="nav nav-tabs nav-justified top-buffer-lg">
        <li role="presentation" class="active">
            <a href="#change-time-by-interval" role="tab" data-toggle="tab">@Resource.Change_time_by_time_interval</a>
        </li>
        <li role="presentation">
            <a href="#change-time-by-user" role="tab" data-toggle="tab">@Resource.Change_time_by_user</a>
        </li>
    </ul>

    <div class="top-buffer">
        <div class="row">
            <div class="col-xs-12 bottom-buffer">
                <div class="center-block">
                    <span class="right-buffer glyphicon glyphicon-time"></span>
                    @Html.LabelFor(m => m.TimeInMinutes)
                </div>
            </div>
            <div class="editor-field col-xs-3 text-center">
                <div class="number-input">
                    @Html.EditorFor(m => m.TimeInMinutes, new { @class = "pull-left" })
                </div>
            </div>
            <div class="editor-field col-xs-4">
                @Html.ValidationMessageFor(m => m.TimeInMinutes)
            </div>
        </div>
    </div>

    <div class="tab-content">
        @Html.Partial("_ChangeParticipationEndTimeByTimeInterval", Model.ChangeByInterval)
        @Html.Partial("_ChangeParticipationEndTimeByUser", Model.ChangeByUser)
    </div>

    <div class="row top-buffer">
        <div class="editor-label col-xs-2">
            <span id="add-time-for-participants-btn" class="btn btn-success pull-left top-buffer">@Resource.Add_time</span>
            <span id="subtract-time-for-participants-btn" class="btn btn-danger pull-left top-buffer hidden">@Resource.Subtract_time</span>
        </div>
        <div class="editor-label col-sm-2">
            @(Html.ActionLink<OJS.Web.Areas.Contests.Controllers.ContestsController>(
                  SharedResource.Cancel, c => c.Details(Model.ContesId), null, new { @class = "btn btn-primary top-buffer" }))
        </div>
    </div>
</div>
<div id="confirm-window-pop-up-container" style="display: none">
    <div id="confirm-window-pop-up" class="row">
        <h3 id="confirm-window-header"></h3>
        <label name="Name">@Resource.Enter_your_username</label>
        <input id="username-confirmation-input" class="form-control" type="text"/>
        <div class="container-fluid row">
            <input id="submit-form-button" type="submit" class="btn btn-success pull-left top-buffer col-xs-3" disabled="disabled"value="@SharedResource.Yes"/>
            <span id="cancel-btn-confirm-pop-up" class="btn btn-primary pull-right top-buffer col-xs-6">@SharedResource.Cancel</span>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        ($(function () {
            var timeInput = $('#TimeInMinutes');
            var addButtonSelector = '#add-time-for-participants-btn';
            var subtractButtonSelector = '#subtract-time-for-participants-btn';
            var buttons = [addButtonSelector, subtractButtonSelector];

            showTabWithError();
            changeAddSubractButton(timeInput.val());

            timeInput.on('input', function () {
                changeAddSubractButton(timeInput.val());
            });

            $(buttons.join()).click(function () {
                setConfirmWindowHeader();

                var changeTimeContainer = $('#change-time-container');
                var confirmWindow = $('#confirm-window-pop-up-container');
                var confirmPopUp = confirmWindow.find('#confirm-window-pop-up');

                var inputValue = timeInput.val();
                var createdBeforeValue = $('#ParticipantsCreatedBeforeDateTime').val();
                var createdAfterValue = $('#ParticipantsCreatedAfterDateTime').val();
                var participantUsername = $('#UserId').data('kendoComboBox').text();

                var submitFormButton = $('#submit-form-button');
                var action = $('#action');
                var minutes = $('#minutes');
                var preposition = $('#preposition');
                var createdBefore = $('#createdBefore');
                var createdAfter = $('#createdAfter');
                var usernamePlaceholder = $('#username-placeholder');
                var headerStrongElements = confirmPopUp.find('h3 strong');

                if (inputValue >= 0) {
                    action.text('@Resource.Add_are_you_sure');
                    headerStrongElements.css('color', "#13987E");
                    preposition.text('@Resource.To');
                } else {
                    action.text('@Resource.Subtract_are_you_sure');
                    headerStrongElements.css('color', "#DF2E1B");
                    preposition.text('@Resource.From');
                }

                createdBefore.text(createdBeforeValue);
                createdAfter.text(createdAfterValue);
                usernamePlaceholder.text(participantUsername);
                minutes.text(Math.abs(inputValue));

                $('#username-confirmation-input').on('input',
                    function () {
                        var value = $(this).val();
                        if (value === '@this.User.Identity.Name') {
                            submitFormButton.attr('disabled', false);
                        } else {
                            submitFormButton.attr('disabled', true);
                        }
                    });

                confirmWindow.show();
                changeTimeContainer.css('opacity', 0.3);

                submitFormButton.click(
                    function () {
                        $('form input[name=TimeInMinutes]').val(timeInput.val());
  
                        if ($('#change-time-by-interval').is(':visible')) {
                            $('#change-time-by-interval-form').submit();
                        } else if ($('#change-time-by-user').is(':visible')) {
                            $('#change-time-by-user-form').submit();
                        }
                    });

                $('#cancel-btn-confirm-pop-up').click(
                    function () {
                        confirmWindow.hide();
                        changeTimeContainer.css('opacity', 1);
                    });
            });

            function setConfirmWindowHeader() {
                var confirmWindowHeader = $('#confirm-window-header');
                var headerPrefix = '@Resource.Confirmation_message_header_prefix ';
                var headerText = '';

                if ($('#change-time-by-interval').is(':visible')) {
                    headerText = '@Resource.Confirmation_message_header_change_by_interval';
                } else if ($('#change-time-by-user').is(':visible')) {
                    headerText = '@Resource.Confirmation_message_header_change_by_user';
                }

                var parser = new DOMParser;
                var header = parser.parseFromString(headerPrefix + headerText, 'text/html');

                confirmWindowHeader.html(header.body.textContent);
            }

            function changeAddSubractButton(value) {
                var addButton = $(addButtonSelector);
                var subtractButton = $(subtractButtonSelector);

                if (value >= 0) {
                    addButton.removeClass('hidden');
                    subtractButton.addClass('hidden');
                } else if (value < 0) {
                    addButton.addClass('hidden');
                    subtractButton.removeClass('hidden');
                }
            }

            function showTabWithError() {
                var error = $('span.field-validation-error');

                if (error.length > 0) {
                    var tabWithError = error.parents('.tab-pane').first();
                    var tabId = tabWithError.get(0).id;
                    $('.nav-tabs a[href="#' + tabId + '"]').tab('show');
                }
            }
        }))
    </script>
}