@model OJS.Web.Areas.Administration.ViewModels.Contest.ContestAdministrationViewModel

@{
    ViewBag.Title = "Създаване на състезание";
}

<h2>@ViewBag.Title</h2>
<div id="create-form" class="container">
    @using (Html.BeginForm("Create", "Contests", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            <legend>Основна информация</legend>
            <div class="row">
                <div class="editor-label col-xs-3">
                    <div class="pull-right">
                        @Html.LabelFor(m => m.Name)
                    </div>
                </div>
                <div class="editor-field col-xs-4">
                    @Html.EditorFor(m => m.Name, new { @class = "form-control pull-left full-editor" })
                </div>
                <div class="editor-field col-xs-4">
                    <span class="glyphicon glyphicon-question-sign text-primary" title="Въведете заглавие на състезанието" data-tooltip="true"></span>
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="editor-label col-xs-3">
                    <div class="pull-right">
                        @Html.LabelFor(m => m.CategoryId)
                    </div>
                </div>
                <div class="editor-field col-xs-4">
                    @Html.EditorFor(m => m.CategoryId, new { @class = "form-control pull-left full-editor" })
                </div>
                <div class="editor-field col-xs-4">
                    <span class="glyphicon glyphicon-question-sign text-primary" title="Изберете категория на състезанието" data-tooltip="true"></span>
                    @Html.ValidationMessageFor(m => m.CategoryId)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="editor-label col-xs-3">
                    <div class="pull-right">
                        @Html.LabelFor(m => m.Description)
                    </div>
                </div>
                <div class="editor-field col-xs-4">
                    @Html.EditorFor(m => m.Description, new { @class = "form-control pull-left full-editor" })
                </div>
                <div class="editor-field col-xs-4">
                    <span class="glyphicon glyphicon-question-sign text-primary" title="Въведете описание на състезанието" data-tooltip="true"></span>
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>
            <br />
        </fieldset>
        <fieldset>
            <legend>Времетраене</legend>
            <div class="row">
                <div class="editor-label col-xs-3">
                    <div class="pull-right">
                        @Html.LabelFor(m => m.StartTime)
                    </div>
                </div>
                <div class="editor-field col-xs-4">
                    @Html.EditorFor(m => m.StartTime, new { @class = "form-control pull-left full-editor" })
                </div>
                <div class="editor-field col-xs-4">
                    <span class="glyphicon glyphicon-question-sign text-primary" title="Въведете начало на състезанието" data-tooltip="true"></span>
                    @Html.ValidationMessageFor(m => m.StartTime)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="editor-label col-xs-3">
                    <div class="pull-right">
                        @Html.LabelFor(m => m.EndTime)
                    </div>
                </div>
                <div class="editor-field col-xs-4">
                    @Html.EditorFor(m => m.EndTime, new { @class = "form-control pull-left full-editor" })
                </div>
                <div class="editor-field col-xs-4">
                    <span class="glyphicon glyphicon-question-sign text-primary" title="Въведете край на състезанието" data-tooltip="true"></span>
                    @Html.ValidationMessageFor(m => m.EndTime)
                </div>
            </div>
            <br /><div class="row">
                <div class="editor-label col-xs-3">
                    <div class="pull-right">
                        @Html.LabelFor(m => m.PracticeStartTime)
                    </div>
                </div>
                <div class="editor-field col-xs-4">
                    @Html.EditorFor(m => m.PracticeStartTime, new { @class = "form-control pull-left full-editor" })
                </div>
                <div class="editor-field col-xs-4">
                    <span class="glyphicon glyphicon-question-sign text-primary" title="Въведете начало за упражнение" data-tooltip="true"></span>
                    @Html.ValidationMessageFor(m => m.PracticeStartTime)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="editor-label col-xs-3">
                    <div class="pull-right">
                        @Html.LabelFor(m => m.PracticeEndTime)
                    </div>
                </div>
                <div class="editor-field col-xs-4">
                    @Html.EditorFor(m => m.PracticeEndTime, new { @class = "form-control pull-left full-editor" })
                </div>
                <div class="editor-field col-xs-4">
                    <span class="glyphicon glyphicon-question-sign text-primary" title="Въведете край за упражнения" data-tooltip="true"></span>
                    @Html.ValidationMessageFor(m => m.PracticeEndTime)
                </div>
            </div>
            <br />
        </fieldset>
        <fieldset>
            <legend>Пароли</legend>
            <div class="row">
                <div class="editor-label col-xs-3">
                    <div class="pull-right">
                        @Html.LabelFor(m => m.ContestPassword)
                    </div>
                </div>
                <div class="editor-field col-xs-4">
                    @Html.EditorFor(m => m.ContestPassword, new { @class = "form-control pull-left full-editor" })
                </div>
                <div class="editor-field col-xs-4">
                    <span class="glyphicon glyphicon-question-sign text-primary" title="Въведете парола на състезанието" data-tooltip="true"></span>
                    @Html.ValidationMessageFor(m => m.ContestPassword)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="editor-label col-xs-3">
                    <div class="pull-right">
                        @Html.LabelFor(m => m.PracticePassword)
                    </div>
                </div>
                <div class="editor-field col-xs-4">
                    @Html.EditorFor(m => m.PracticePassword, new { @class = "form-control pull-left full-editor" })
                </div>
                <div class="editor-field col-xs-4">
                    <span class="glyphicon glyphicon-question-sign text-primary" title="Въведете парола за упражнения" data-tooltip="true"></span>
                    @Html.ValidationMessageFor(m => m.PracticePassword)
                </div>
            </div>
            <br />
        </fieldset>
        <fieldset>
            <legend>Опции</legend>
            <div class="row">
                <div class="editor-label col-xs-3">
                    <div class="pull-right">
                        @Html.LabelFor(m => m.LimitBetweenSubmissions)
                    </div>
                </div>
                <div class="editor-field col-xs-4">
                    @Html.EditorFor(m => m.LimitBetweenSubmissions, new { @class = "form-control pull-left full-editor" })
                </div>
                <div class="editor-field col-xs-4">
                    <span class="glyphicon glyphicon-question-sign text-primary" title="Въведете лимит между изпращане на две последователни решения" data-tooltip="true"></span>
                    @Html.ValidationMessageFor(m => m.LimitBetweenSubmissions)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="editor-label col-xs-3">
                    <div class="pull-right">
                        @Html.LabelFor(m => m.OrderBy)
                    </div>
                </div>
                <div class="editor-field col-xs-4">
                    @Html.EditorFor(m => m.OrderBy, new { @class = "form-control pull-left full-editor" })
                </div>
                <div class="editor-field col-xs-4">
                    <span class="glyphicon glyphicon-question-sign text-primary" title="Въведете подредба на състезанието" data-tooltip="true"></span>
                    @Html.ValidationMessageFor(m => m.OrderBy)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="editor-label col-xs-3">
                    <div class="pull-right">
                        @Html.LabelFor(m => m.IsVisible)
                    </div>
                </div>
                <div class="editor-field col-xs-4">
                    @Html.EditorFor(m => m.IsVisible, new { @class = "form-control pull-left full-editor" })
                </div>
                <div class="editor-field col-xs-4">
                    <span class="glyphicon glyphicon-question-sign text-primary" title="Изберете дали състезанието да бъде видимо" data-tooltip="true"></span>
                    @Html.ValidationMessageFor(m => m.IsVisible)
                </div>
            </div>
            <br />
        </fieldset>
        <br />
        <div class="row">
            <div class="editor-label col-xs-3">
                <button type="submit" class="btn btn-primary pull-right">Създай</button>
            </div>
            <div class="editor-label col-xs-4">
                <a href="/Administration/Contests/" class="btn btn-primary">Назад</a>
            </div>
        </div>
    }
</div>

@(Html.Kendo().Tooltip().For("#create-form").Filter("[data-tooltip='true']").Position(TooltipPosition.Bottom).Width(240))