@model OJS.Web.Areas.Administration.ViewModels.Contest.ContestAdministrationViewModel

@using OJS.Common.Models

@using Resource = Resources.Areas.Administration.Contests.Views.ContestCreate;
@{
    ViewBag.Title = Resource.Page_title;
    var onlinePracticalExamEnumValue = (int)ContestType.OnlinePracticalExam;
}

<h2>@ViewBag.Title</h2>
<div id="create-form" class="container">
    @using (Html.BeginForm("Create", "Contests", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationMessage(GlobalConstants.DateTimeError)

        @Html.Partial("_ContestEditor", Model)
        <hr />
        <div class="row">
            <div class="editor-label col-xs-3">
                <button type="submit" class="btn btn-primary pull-right">@Resource.Create</button>
            </div>
            <div class="editor-label col-xs-4">
                <a href="/Administration/Contests/" class="btn btn-primary">@Resource.Back</a>
            </div>
        </div>
    }
</div>

@(Html.Kendo().Tooltip().For("#create-form").Filter("[data-tooltip='true']").Position(TooltipPosition.Bottom).Width(240))

<script>
    $(function () {
        var contestType = $('#Type');
        var dropdownList = contestType.data('kendoDropDownList');

        populateIpsFieldBySelectedContestType(dropdownList.value());

        contestType.on('change', function() {
            populateIpsFieldBySelectedContestType(dropdownList.value());
        });

        function populateIpsFieldBySelectedContestType(selectedTypeValue) {
            var allowedIps = $('#AllowedIps').data('kendoAutoComplete');

            if (selectedTypeValue === '@onlinePracticalExamEnumValue') {
                allowedIps.value('');
            } else {
                allowedIps.value('@GlobalConstants.DefaultPublicIp' + ',');
            }
        }
    });
</script>