@using Resource = Resources.Areas.Administration.Contests.Views.ContestTransfer
@model OJS.Web.Areas.Administration.ViewModels.Contest.TransferParticipantsViewModel

@{
    ViewBag.Title = Resource.Page_title;
    const string defaultReturnUrl = "/Administration/Contests";
}

<h2>@ViewBag.Title</h2>
<div id="create-form" class="container">
    @using (Html.BeginForm("TransferParticipants", "Contests", new {returnUrl = ViewBag.ReturnUrl}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationMessage(GlobalConstants.DateTimeError)

        <hr />
        <div class="alert">Сигурни ли сте, че искате да прехвърлите 
            <strong>@Model.OfficialParticipantsCount участници</strong> от Contest в Practice за състезанието 
            <strong>@Model.Name</strong> от категорията <strong>@Model.CategoryName</strong>?</div>
        <div class="row">
            <div class="editor-label col-xs-3">
                <button type="submit" class="btn btn-primary pull-right">@Resource.Transfer</button>
            </div>
            <div class="editor-label col-xs-4">
                @{
                    var returnUrl = defaultReturnUrl;
                    if (ViewBag.ReturnUrl != null)
                    {
                        returnUrl = ViewBag.ReturnUrl;
                    }
                }
                <a href=@returnUrl class="btn btn-primary">@Resource.Cancel</a>
            </div>
        </div>
    }
</div>