@using OJS.Web.Common
@using OJS.Web.ViewModels
@using Resource = Resources.Views.Shared.Layout;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BGCoder.com</title>
    @Styles.Render("~/Content/bootstrap/bootstrap", "~/Content/KendoUI/kendo", "~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr", "~/bundles/jquery", "~/bundles/kendo", "~/bundles/global")
</head>
<body>
    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments);
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m);
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-27957494-1', 'bgcoder.com');
        ga('send', 'pageview');
    </script>

    <!-- Facebook -->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=140725269459425";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Header -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">BGCoder.com</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">@Resource.Home</a></li>
                    <li class="dropdown">
                        <a href="/Contests" class="dropdown-toggle" data-toggle="dropdown">
                            @Resource.Contests
                            <strong class="caret"></strong>
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (CategoryMenuItemViewModel category in ViewBag.MainCategories)
                            {
                                <li><a href="@string.Format("/Contests/#!/List/ByCategory/{0}/{1}", category.Id, category.NameUrl)">@category.Name</a></li>
                            }
                            <li class="divider"></li>
                            <li><a href="/Contests">@Resource.All</a></li>
                        </ul>
                    </li>
                    <li><a href="/Submissions">@Resource.Submissions</a></li>
                    <li><a href="/Feedback">@Resource.Feedback</a></li>
                    @if (User.IsAdmin())
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @Resource.Administration
                                <strong class="caret"></strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">@Resource.Contests</li>
                                <li>@Html.ActionLink(Resource.Contests, "Index", "Contests", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink(Resource.Categories, "Index", "ContestCategories", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink(Resource.Category_hierarchy, "Hierarchy", "ContestCategories", new { area = "Administration" }, null)</li>
                                <li class="divider"></li>
                                <li class="dropdown-header">@Resource.Problems</li>
                                <li>@Html.ActionLink(Resource.Problems, "Index", "Problems", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink(Resource.Test_files, "Index", "Tests", new { area = "Administration" }, null)</li>
                                <li class="divider"></li>
                                <li class="dropdown-header">@Resource.Users</li>
                                <li>@Html.ActionLink(Resource.Users, "Index", "Users", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink(Resource.Submissions, "Index", "Submissions", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink(Resource.Roles, "Index", "Roles", new { area = "Administration" }, null)</li>
                                <li class="divider"></li>
                                <li class="dropdown-header">@Resource.Other</li>
                                <li>@Html.ActionLink(Resource.News, "Index", "News", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink(Resource.Feedback, "Index", "Feedback", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink(Resource.Settings, "Index", "Settings", new { area = "Administration" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink(Resource.All_administrations, "Index", "Navigation", new { area = "Administration" }, null)</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container">
        @if (ViewBag.SystemMessages != null)
        {
            foreach (var message in (SystemMessageCollection)ViewBag.SystemMessages)
            {
                string messageClass = "alert alert-success";
                switch (message.Type)
                {
                    case SystemMessageType.Informational:
                        messageClass = "alert alert-info";
                        break;
                    case SystemMessageType.Success:
                        messageClass = "alert alert-success";
                        break;
                    case SystemMessageType.Warning:
                        messageClass = "alert alert-warning";
                        break;
                    case SystemMessageType.Error:
                        messageClass = "alert alert-danger";
                        break;
                }

                @:<div class="@messageClass"><strong>@Html.Raw(message.Content)</strong></div>
        }
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Resources.Global.SystemName @Resources.Global.SystemVersion - running on Windows. <a href="https://github.com/NikolayIT/OpenJudgeSystem" target="_blank">Open source project.</a></p>
        </footer>
    </div>

    <!-- JavaScripts -->
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
