@using OJS.Web.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BGCoder - @ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap/bootstrap", "~/Content/KendoUI/kendo", "~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr", "~/bundles/jquery", "~/bundles/kendo", "~/bundles/global")
    <!-- TODO: Google Analytics -->
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=100628983422871";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">BGCoder.com</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Начало</a></li>
                    <li><a href="/Contests/">Състезания</a></li>
                    <li><a href="/Submissions/">Лог</a></li>
                    <li><a href="/Feedback/">Обратна връзка</a></li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Администрация
                                <strong class="caret"></strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Състезания</li>
                                <li>@Html.ActionLink("Състезания", "Index", "Contests", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink("Категории", "Index", "ContestCategories", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink("Йерархия на категориите", "Hierarchy", "ContestCategories", new { area = "Administration" }, null)</li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Задачи</li>
                                <li>@Html.ActionLink("Задачи", "Index", "Problems", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink("Тестови файлове", "Index", "Tests", new { area = "Administration" }, null)</li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Потребители</li>
                                <li>@Html.ActionLink("Потребители", "Index", "Users", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink("Решения", "Index", "Submissions", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink("Роли", "Index", "Roles", new { area = "Administration" }, null)</li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Други</li>
                                <li>@Html.ActionLink("Новини", "Index", "News", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink("Обратна връзка", "Index", "Feedback", new { area = "Administration" }, null)</li>
                                <li>@Html.ActionLink("Настройки", "Index", "Settings", new { area = "Administration" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Всички администрации", "Index", "Navigation", new { area = "Administration" }, null)</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">
        @if (ViewBag.SystemMessages != null)
        {
            foreach (var message in (SystemMessageCollection)ViewBag.SystemMessages)
            {
                string messageClass = "alert alert-success";
                switch (message.Type)
                {
                    case SystemMessageType.Informational:
                        messageClass = "alert alert-info";
                        break;
                    case SystemMessageType.Success:
                        messageClass = "alert alert-success";
                        break;
                    case SystemMessageType.Warning:
                        messageClass = "alert alert-warning";
                        break;
                    case SystemMessageType.Error:
                        messageClass = "alert alert-danger";
                        break;
                }

                @:<div class="@messageClass"><strong>@Html.Raw(message.Content)</strong></div>
        }
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Resources.Global.SystemName @Resources.Global.SystemVersion - running on Windows. <a href="https://github.com/NikolayIT/OpenJudgeSystem" target="_blank">Open source project.</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
