@model OJS.Web.Areas.Contests.ViewModels.ContestRegistrationViewModel
@{
    ViewBag.Title = Model.ContestName;
}
<div class="row">
    <div class="col-md-12">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

<div class="text-white">
    @using (Html.BeginForm())
    {
        if (Model.RequirePassword)
        {
            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(x => x.Password)
                </div>
                @Html.PasswordFor(x => x.Password, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(x => x.Password)
            </div>
        }

        @Html.EditorFor(x => x.Questions);
        @Html.ValidationMessage("Questions");
        <input type="submit" value="Изпрати" class="btn btn-default" />
    }
</div>