@using OJS.Web.Areas.Administration.Controllers
@using OJS.Web.Areas.Administration.ViewModels.ExamGroups

@using Resource = Resources.Areas.Administration.ExamGroups.Views.ExamGroupsIndex
@using GeneralResource = Resources.Areas.Administration.AdministrationGeneral

@model BulkAddUsersToExamGroupViewModel

<h4>@Model.ExamGroupName</h4>

@using (Ajax.BeginForm<ExamGroupsController>(
    c => c.BulkAddUsersToExamGroup((BulkAddUsersToExamGroupViewModel)null),
    FormMethod.Post,
    new AjaxOptions
    {
        OnSuccess = "onBulkAddUsersSuccess",
        OnFailure = "onBulkAddUsersFailure"
    }))
{
    @Html.AntiForgeryToken()

    <p>@Resource.Add_users_description</p>

    @Html.TextAreaFor(m => m.UserNamesText, new { rows = 20, cols = 70 })
    @Html.HiddenFor(m => m.ExamGroupId)

    <hr />
    <button type="submit" class="k-button pull-right">@GeneralResource.Add</button>
}