@using OJS.Web.Areas.Administration.Controllers

@using Resource = Resources.Areas.Contests.Views.ListIndex

@{
    ViewBag.Title = Resource.Title;
}

<ol class="breadcrumb">
    <li><a href="/">@Resource.Home</a></li>
    <li class="active">@Resource.Contests</li>
</ol>

<div class="row">
    <div class="col-md-3">
        <h2>@ViewBag.Title</h2>

        @(Html.Kendo().TreeView()
            .Name("contestsCategories")
            .DataTextField("Name")
            .DataSource(dataSource => dataSource
            .Model(m =>
            {
                m.Id("Id");
                m.HasChildren("HasChildren");
            })
            .Read(read => read.Action("ReadCategories", "List", new { area = "Contests" })))
            .Events(x =>
            {
                x.Select("expander.categorySelected");
                x.DataBound("expander.onDataBound");
            }))

        @if (User.IsAdmin())
        {
            <br />
            <p class="pull-left"><a class="btn btn-primary" href="@(Url.Action<ContestCategoriesController>(c => c.Index()))">@Resource.Categories &raquo;</a></p>
            <p class="pull-right"><a class="btn btn-primary" href="@(Url.Action<ContestCategoriesController>(c => c.Hierarchy()))">@Resource.Hierarchy &raquo;</a></p>
            <div class="clearfix"></div>
        }
    </div>
    <div class="col-md-9">
        <div id="contestsList">
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/list-categories")
}