@using OJS.Web.Areas.Administration.Controllers
@using OJS.Web.Areas.Administration.ViewModels.Problem

@using SharedResource = Resources.Areas.Administration.Shared.Views.Partials.Partials

@model CopyAllProblemsViewModel

@using (Ajax.BeginForm<ProblemsController>(
    c => c.CopyAll((CopyAllProblemsViewModel)null),
    FormMethod.Post,
    new AjaxOptions
    {
        OnSuccess = "onCopySuccess",
        OnFailure = "onCopyFailure"
    }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.FromContestId)

    <div class="form-group">
        @Html.LabelFor(m => m.ContestId, new { @class = "control-label" })

        <div>
            @Html.EditorFor(m => m.ContestId, new { @class = "form-control" })
        </div>
    </div>

    <input class="k-button pull-right" type="submit" value="@SharedResource.Copy" />
}