@using Resource = Resources.Areas.Administration.Problems.Views.Partials.ProblemsPartials
@using SharedResource = Resources.Areas.Administration.Shared.Views.Partials.Partials

<form class="top-buffer-sm">
    @Html.AntiForgeryToken()

    <div>
        <label for="ContestToCopyTo">@Resource.Search_for_contest_to_copy_to_title</label>
    </div>

    @(Html
        .Kendo()
        .ComboBox()
        .Name("ContestToCopyTo")
        .DataTextField("Name")
        .DataValueField("Id")
        .Filter(FilterType.Contains)
        .MinLength(2)
        .Placeholder(Resource.Choose_contest)
        .DataSource(data =>
        {
            data
                .Read(read => read.Action("GetAvailableContestsContaining", "LecturersKendoRemoteData")
                    .Data("setContestFilterToCopySearch"))
                .ServerFiltering(true);
        })
        .AutoBind(false)
        .HtmlAttributes(new { style = "width:100%" }))
    
    <div class="top-buffer">
        <label for="ProblemGroupToCopyTo">@Resource.Problem_group:</label>
    </div>

    @(Html
        .Kendo()
        .DropDownList()
        .Name("ProblemGroupToCopyTo")
        .OptionLabel(Resource.Copy_in_new_problem_group)
        .HtmlAttributes(new { @class = "test-file-dropdown" })
        .DataTextField("Name")
        .DataValueField("Id")
        .DataSource(data =>
        {
            data
                .Read(read => read.Action("GetCascadeProblemGroupsFromContest", "KendoRemoteData")
                    .Data("setContestIdToGetProblemGroups"))
                .ServerFiltering(true);
        })
        .Enable(false)
        .AutoBind(false)
        .CascadeFrom("ContestToCopyTo")
        .Events(e => e.Open("Ojs.KendoControls.DropDownList.alignDropDownToInput")))

    <input class="k-button pull-right top-buffer-lg" type="submit" value="@SharedResource.Copy" />
</form>