@using Resource = Resources.Areas.Administration.Problems.Views.ProblemsDeleteAll
@model OJS.Web.Areas.Administration.ViewModels.Contest.ContestAdministrationViewModel

@{
    ViewBag.Title = Resource.Page_title;
}

<h2>@Model.Name</h2>
<h3>@ViewBag.Title</h3>

<p>
    @Resource.Confirm_message @Model.Name?
</p>
<a href="/Administration/Problems/ConfirmDeleteAll/@Model.Id" class="btn btn-primary">@Resource.Confirm</a>
<a href="/Administration/Problems/Contest/@Model.Id" class="btn btn-primary">@Resource.Back</a>

