@model OJS.Web.Areas.Administration.ViewModels.Problem.DeleteProblemViewModel

@using OJS.Web.Areas.Administration.Controllers

@using Resource = Resources.Areas.Administration.Problems.Views.ProblemsDelete

@{
    ViewBag.Title = Resource.Page_title;
}
<h2>@ViewBag.Title @Model.Name</h2>
<div class="container">
    @using (Html.BeginForm<ProblemsController>(c => c.ConfirmDelete(Model.Id), FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="editor-label">
            @Html.LabelFor(m => m.Name)
        </div>
        <div class="panel-body bordered-content editor-field">
            @Model.Name
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(m => m.ContestName)
        </div>
        <div class="panel-body bordered-content editor-field">
            @Model.ContestName
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(m => m.OrderBy)
        </div>
        <div class="panel-body bordered-content editor-field">
            @Model.OrderBy
        </div>
        <br />

        <input type="submit" class="btn btn-primary" value="@Resource.Delete" />
        @(Html.ActionLink<ProblemsController>(Resource.Back, c => c.Index(Model.ContestId), null, new { @class = "btn btn-primary" }))
    }
</div>