@using OJS.Common.Extensions
@using OJS.Common.Models
@model OJS.Web.Areas.Contests.ViewModels.Submissions.SubmissionDetailsViewModel
@{
    ViewBag.Title = string.Format("Решение №{0} от {1} към задача {2}", Model.Id, Model.UserName, Model.ProblemName);
}

@section styles {
    @Styles.Render("~/Content/CodeMirror/codemirror")
}

@section scripts {
    @Scripts.Render("~/bundles/codemirror")
    <script type="text/javascript">
        $(function () {
            var textEditor = document.getElementById("code");
            var editor = new CodeMirror.fromTextArea(textEditor, {
                mode: "text/x-csharp",
                lineNumbers: true,
                matchBrackets: true,
                theme: "the-matrix",
                showCursorWhenSelecting: true,
                undoDepth: 100,
                lineWrapping: true,
                readOnly: true,
                autofocus: true,
            });

            editor.setSize('100%', '100%');
        });
    </script>
}

<ol class="breadcrumb">
    <li><a href="/">Начало</a></li>
    <li><a href="/Submissions">Решения</a></li>
    <li class="active">@Model.Id</li>
</ol>

<h2>@ViewBag.Title</h2>
<a class="btn btn-sm btn-primary" href="#SourceCode">Виж кода</a>
@if (User.IsAdmin())
{
    <a class="btn btn-sm btn-primary" href="/Administration/Submissions/Update/@Model.Id">Промяна</a>
    <a class="btn btn-sm btn-primary" href="/Administration/Submissions/Delete/@Model.Id">Изтриване</a>
    <a class="btn btn-sm btn-primary" href="/Administration/Tests/Problem/@Model.ProblemId">Тестове</a>
    <a class="btn btn-sm btn-primary" href="/Users/@Model.UserName">Профил на автора</a>
    <a class="btn btn-sm btn-primary" href="/Administration/Submissions/Retest/@Model.Id">Ретест</a>
    <div class="clearfix"></div>
    if (!string.IsNullOrWhiteSpace(Model.ProcessingComment))
    {
        <h2>Резултат от изпълнението:</h2>
        <pre>@Model.ProcessingComment</pre>
    }
}
<br />

@if (Model.IsDeleted)
{
    <div class="alert alert-danger">Това решение е изтрито!!!</div>
}

@if (!Model.Processed)
{
    if (Model.Processing)
    {
        <div class="alert alert-info">Решението се изпълнява в момента... Моля бъдете търпеливи.</div>
    }
    else
    {
        <div class="alert alert-info">Решението е в опашката и скоро ще се изпълни. Моля бъдете търпеливи.</div>
    }
}
else
{
    if (!Model.IsCompiledSuccessfully)
    {
        <div class="alert alert-danger">Възникнала е грешка по време на компилацията</div>
    }
    else if (!Model.ShowResults) // Inform user that compilation is successful when not showing him all the test runs
    {
        <h2 class="text-success">Успешна компилация.</h2>
    }

    if (!string.IsNullOrWhiteSpace(Model.CompilerComment))
    {
        <h2>Резултат от компилацията:</h2>
        <pre>@Model.CompilerComment</pre>
    }
}

@if (Model.Processed && (Model.ShowResults || User.IsAdmin()))
{
    foreach (var testResult in Model.TestRuns.OrderByDescending(x => x.IsTrialTest).ThenBy(x => x.Order))
    {
        var className = string.Empty;
        var testResultText = string.Empty;
        if (testResult.ResultType == TestRunResultType.CorrectAnswer)
        {
            className = "text-success";
            testResultText = "Верен отговор";
        }
        else if (testResult.ResultType == TestRunResultType.WrongAnswer)
        {
            className = "text-danger";
            testResultText = "Грешен отговор";
        }
        else if (testResult.ResultType == TestRunResultType.MemoryLimit)
        {
            className = "text-danger";
            testResultText = "Недостатъчна памет";
        }
        else if (testResult.ResultType == TestRunResultType.TimeLimit)
        {
            className = "text-danger";
            testResultText = "Недостатъчно време";
        }
        else if (testResult.ResultType == TestRunResultType.RunTimeError)
        {
            className = "text-danger";
            testResultText = "Грешка по време на изпълнение";
        }

        <h3 class="@className">
            @if (testResult.IsTrialTest)
            {
                @:Нулев тест №@testResult.Order
            }
            else
            {
                @:Тест №@testResult.Order
            }
            (@testResultText)
            @if (User.IsAdmin())
            {
                <small>Run №@testResult.Id</small>
                <small><a href="/Administration/Tests/Details/@testResult.TestId">Test №@testResult.TestId</a></small>
            }
        </h3>

        if (testResult.IsTrialTest)
        {
            <div>Нулевите тестове не се броят в крайния резултат.</div>
        }

        if (!string.IsNullOrWhiteSpace(testResult.ExecutionComment))
        {
            var executionComment = testResult.ExecutionComment;
            if (!User.IsAdmin())
            {
                if (Model.SubmissionType.CompilerType == CompilerType.CSharp)
                {
                    // The following code will hide the exception message from user when the code is written in C#
                    var errorParts = executionComment.Split(':');
                    if (errorParts.Length >= 2)
                    {
                        executionComment = errorParts[0] + ":" + errorParts[1];
                    }
                    else
                    {
                        executionComment = executionComment.MaxLengthWithEllipsis(37);
                    }
                }
                else // Other language
                {
                    executionComment = executionComment.MaxLengthWithEllipsis(64);
                }
            }

            <pre>@executionComment</pre>
        }

        if (!string.IsNullOrWhiteSpace(testResult.CheckerComment))
        {
            if (testResult.IsTrialTest || User.IsAdmin())
            {
                <pre>@testResult.CheckerComment</pre>
            }
        }

        <div>Използвано време: @string.Format("{0:0.000}", testResult.TimeUsed / 1000.0) s</div>
        <div>Използванa памет: @string.Format("{0:0.00}", testResult.MemoryUsed / 1024.0 / 1024.0) MB</div>
    }
}

<h3 id="SourceCode">Source code</h3>
<textarea id="code">@Model.ContentAsString</textarea>