@model OJS.Web.ViewModels.News.SelectedNewsViewModel
@using Resource = Resources.News.Views.Selected

@{
    ViewBag.Title = Resource.Title;
}

@if (Model != null)
{
    <div class="row">
        <div class="col-md-8">

            <h1>@Model.Title</h1>
            <h4>@Resource.Author: @Model.Author</h4>
            @if (!string.IsNullOrEmpty(Model.Source))
            {
                <h4>@Resource.Source: @Model.Source</h4>
            }
            <span>@Model.TimeCreated.ToString("dd/MM/yyyy")</span>

            <br />

            <div>
                @Html.ActionLink(Resource.Previous, "Selected", new { id = Model.PreviousId }, new { @class = "btn btn-primary pull-left" })
                @Html.ActionLink(Resource.Next, "Selected", new { id = Model.NextId }, new { @class = "btn btn-primary pull-right" })
            </div>
            <br />
            <br />
            <div class="panel-body news-content">
                @Html.Raw(Model.Content)
            </div>
        </div>
        <div class="col-md-4">
            <h2>@Resource.Latest_news</h2>
            @{Html.RenderAction("LatestNews", new { newsCount = 5 });}
        </div>
    </div>
}